body
	background grey
	font-size 14px
	margin  0px
	text-align center

	#informacion
		background white
		display inline-block
		width 95%

		a 
			color black
			text-decoration none

	header 
		background white
		display inline-block
		height auto
		position relative
		width 95%

		nav
			background white
			color white
			display inline-block
			float right
			font-size 0.8em
			text-align center
			width 100%

		nav ul
			list-style none
			margin 0px
			padding 0 0.8em

		nav ul li 
			display inline-block
			margin 0 1.2em 0 0
			vertical-align top

		nav ul li a 
			color black
			font-family "Lobstert", Arial
			font-weight normal
			display block
			text-decoration none
			padding 0 0

		nav ul li a:hover
			color #F7F156
			margin 0px
			padding 0px
			transition 1s

		#image 
			left 0
			position relative
			width 50%

	#contenedor
		background white
		display inline-block
		top 3em
		width 95%

		#texto 
			display inline-block
			font-size 0.8em
			width 100%


@import"responsive.styl"