@media screen and (min-width:768px)
	body
		margin 0 auto
		max-width 1200px

		#informacion
			background white
			border 1px solid black
			vertical align-top
			width 95%

			.contacto
				float left
				margin 0.3em

			#logo
				float right
				vertical align-top
				width 60%

				h1
					float left
					margin-top -1%

				b 
					float right
					margin 0.3em

		header 
			background white
			display inline-block
			margin-top -1em
			vertical align-top
			width 95%

			nav
				display inline-block
				font-size 1.4em
				text-align center
				margin-right 0.3em
				margin-top 2em
				width 75%

			#image
				display inline-block
				float left
				width 20%

		#contenedor
			margin-top -1em
			width 95%

