
.icon-web:before { content: '\e800'; } /* '' */
.icon-wordpress:before { content: '\e801'; } /* '' */
.icon-carrito:before { content: '\e802'; } /* '' */
.icon-seo:before { content: '\e803'; } /* '' */
.icon-mantenimiento:before { content: '\e804'; } /* '' */